{% extends "base.html" %}

{% block body %}
<h1>ねこふんじゃったα ver.</h1>
<p>
  ねこふんじゃったはブラウザ上で動く Twitter クライアントです。
  
</p>
<p>
  「<s>作ってて</s>使ってて楽しい」アプリを目指して現在作成中です(＊ノ)つ
  <a href="{% url client.views.login %}">ログイン</a>
</p>

<h2>対応ブラウザ</h2>
<ul>
  <li>Chrome5(アニメーションとかするよ！ そのうち通知機能も付くよ！)
  <li>Safari4(アニメーションとかするよ！)
  <li>Firefox3(動くみたい！？)
  <li>IE8(動くみたい！？)
  <li>Opera(う、動かなかった・・だと・・)
</ul>

<h2>特徴</h2>
使ってて楽しい機能を優先して追加する予定だよ！
<ul>
  <li>画像をサムネイル表示するよ！(今は Twitpic だけ)
  <li>友達のタイムラインを表示すると、友達の背景が表示されるよ！
</ul>
<ul>
  <li>デザインテーマを切り替えられるように・・したい・・(願望)
  <li>み、見た目かわいくしたいな・・(願望)
</ul>
<ul>
  <li>その他、一般的な機能はちゃんと付けたい・・(願望)
</ul>

{% endblock %}
