{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/static/jgrowl/jquery.jgrowl_compressed.js"></script>
<link href="/static/jgrowl/jquery.jgrowl.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
<link href="/static/fancybox/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/js/jquery.history.js"></script>
<script type="text/javascript" src="/static/js/jquery.upload-1.0.2.min.js"></script>

<link href="static/css/client.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/js/console.js"></script>
<script type="text/javascript" src="/static/js/util.js"></script>
<script type="text/javascript" src="/static/js/stopwatch.js"></script>
<script type="text/javascript" src="/static/js/event.js"></script>

<script type="text/javascript" src="/static/js/tw.js"></script>
<script type="text/javascript" src="/static/js/settings.js"></script>
<script type="text/javascript" src="/static/js/gc.js"></script>
<script type="text/javascript" src="/static/js/ajax.js"></script>
<script type="text/javascript" src="/static/js/store.js"></script>
<script type="text/javascript" src="/static/js/lists.js"></script>
<script type="text/javascript" src="/static/js/timeline.js"></script>
<script type="text/javascript" src="/static/js/servertimeline.js"></script>
<script type="text/javascript" src="/static/js/list.js"></script>
<script type="text/javascript" src="/static/js/searchresult.js"></script>
<script type="text/javascript" src="/static/js/yatsresult.js"></script>
<script type="text/javascript" src="/static/js/conversationtimeline.js"></script>
<script type="text/javascript" src="/static/js/users.js"></script>
<script type="text/javascript" src="/static/js/twitpic.js"></script>

<script type="text/javascript" src="/static/js/command.js"></script>

<script type="text/javascript" src="/static/js/urimanager.js"></script>
<script type="text/javascript" src="/static/js/renderer.js"></script>
<script type="text/javascript" src="/static/js/statusinput.js"></script>
<script type="text/javascript" src="/static/js/mainmenu.js"></script>
<script type="text/javascript" src="/static/js/profileview.js"></script>
<script type="text/javascript" src="/static/js/timelineview.js"></script>
<script type="text/javascript" src="/static/js/multitimelineview.js"></script>
<script type="text/javascript" src="/static/js/background.js"></script>
<script type="text/javascript" src="/static/js/progressview.js"></script>
<script type="text/javascript" src="/static/js/autorefresh.js"></script>
<script type="text/javascript" src="/static/js/popupmenu.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

<script type="text/javascript" src="/static/js/debug.js"></script>

{% endblock %}

{% block body %}
<div class="bg0 bg current"></div>
<div class="bg1 bg"></div>

<div class="root menu">
  <div>
    <h1>ねこふんじゃった</h1>
  </div>
  <div>
    <a class="settings"><s>設定</s></a>
    <a href="{% url client.views.logout %}">ログアウト</a>
  </div>
</div>

<div class="header frame">
  
  <div class="status_input">
    <div class="text">
      <textarea></textarea>
    </div>
    <div class="tasks">
    </div>
    <div class="actions">
      <input name="file" type="file">
      <span class="count"></span>
      <a href="" class="update button">ツイート</a>
    </div>
  </div>
</div>

<div class="sidebar">

  <div class="logo frame">
    
  </div>

  <div class="main menu frame">
    
    <div class="tabs basic">
      <a class="tab" href="#.statuses.home_timeline">ホーム
	<span class="count">999</span></a>
      <a class="tab" href="#.statuses.mentions">あなた宛
	<span class="count">999</span></a>
      <a class="tab"><s>DM</s><span class="count">999</span></a>
    </div>

    <div class="tabs search">
      <form>
	<input type="text" class="search" placeholder="検索語">
	<a class="search button" tabindex="0">検索</a>
      </form>
    </div>

    <div class="tabs list">
      <a class="tab your">
	<span class="name">list1</span><span class="count">999</span></a>
      <a class="tab">
	<span class="name">list2</span><span class="count">999</span></a>
    </div>
  </div>

  <div class="profile frame">

    <div class="users tabs">
      <a class="tab">sample1</a>
      <a class="tab">sample2</a>
    </div>

    <div class="content">
      <a href="" class="profile_image lightbox">
	<img src="http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png">
      </a>
      
      <a class="user_timeline" href="">
	<div>
	  <span class="dd screen_name">sample</span>
	  <span class="dd name">サンプル</span>
	</div>
	<span>
	  <span class="dd statuses_count" href="">123</span>
	  ツイート
	</span>
      </a>
      <a class="twitter" href="" target="_blank">t</a>
      
      <a class="friends_count friends" href="">
	<span class="dd">123</span>
	<span class="dt">フォローしている</span>
      </a>
      
      <a class="followers_count followers" href="">
	<span class="dd">123</span>
	<span class="dt">フォローされている</span>
      </a>
      
      <a class=" favorites_count favorites" href="">
	<span class="dd">123</span>
	<span class="dt">お気に入り</span>
      </a>
      
      <div class="location">
	<span class="dt">現在地</span>
	<span class="dd">sample</span>
      </div>
      
      <div class="url">
	<span class="dt">Web</span>
	<a class="dd" target="_blank"></a>
      </div>
      
      <div class="description">
	<span class="dt">自己紹介</span>
	<span class="dd">
	  Sample.
	</span>
      </div>
    </div>
    
    <div class="pages tabs">
      <a class="tab active">プロフィール</a>
      <a class="tab"><s>フォロー状況</s></a>
      <a class="tab"><s>ツール</s></a>
    </div>
    
  </div><!-- profile -->

</div><!-- sidebar -->


<div class="timeline_frame frame">
  <div class="progress_container">
    <span class="progress">test</span>
  </div>
  <div class="actions">
    <a class="refresh button">更新</a>
  </div>

  <div class="timeline_viewport">

    <ol class="timeline">

      <li tabindex="0" class="status">
        <img class='profile_image'
	     src='http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png'>
	<img class='profile_image_rt' 
	     src='http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png'>
        <div class="body">
  	  <a class="favorite off"></a>
  	  <span class="name">name</span>
	
  	  <div class="text">
  	    つぶやき！
	    <a class="hash">#hash</a>
	    @<a class="user">user</a>
	    @<a class="user in_reply_to">user</a>
  	  </div>
	  
  	  <div class="footer">
	    <div class="info">
  	      <a class="created_at">20:20:20</a>
  	      <a class="source">Client</a>から
	    </div>
	    
	    <div class="actions">
  	      <a class="reply">返信</a>
  	      <a class="rt">リツイート</a>
	    </div>
  	  </div>
        </div>
      </li><!-- status -->
      
    </ol><!-- timeline -->
    
  </div><!-- timeline_viewport -->
</div><!-- frame -->

<div class="footer">
</div>

<div class="popup menu float">
  <p class="message">
    メッセージ。
  </p>
  <p class="commands">
    <a class="button">ボタン</a>
    <a class="button">ボタン</a>
  </p>
</div>


<div class="hidden system">
  <img src="/static/images/wait.gif">
  <img src="/static/images/conversation.png">
  <span class="screen_name">{{ screen_name }}</span>
  {% csrf_token %}
</div>

{% endblock %}