{% extends "base.html" %}

{% block head %}
<link href="static/jquery.jgrowl.css" rel="stylesheet" type="text/css">
<link href="static/client.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/jquery.jgrowl_compressed.js"></script>
<script type="text/javascript" src="/static/console.js"></script>
<script type="text/javascript" src="/static/util.js"></script>
<script type="text/javascript" src="/static/stopwatch.js"></script>
<script type="text/javascript" src="/static/tw.js"></script>
<script type="text/javascript" src="/static/event.js"></script>
<script type="text/javascript" src="/static/store.js"></script>
<script type="text/javascript" src="/static/list.js"></script>
<script type="text/javascript" src="/static/serverlist.js"></script>
<script type="text/javascript" src="/static/conversationtimeline.js"></script>
<script type="text/javascript" src="/static/users.js"></script>

<script type="text/javascript" src="/static/inline.js"></script>
<script type="text/javascript" src="/static/statusinput.js"></script>
<script type="text/javascript" src="/static/sidebar.js"></script>
<script type="text/javascript" src="/static/profileview.js"></script>
<script type="text/javascript" src="/static/listview.js"></script>
<script type="text/javascript" src="/static/background.js"></script>
<script type="text/javascript" src="/static/main.js"></script>
{% endblock %}

{% block body %}
<div class="bg0 bg current"></div>
<div class="bg1 bg"></div>

<div class="header">
  <div class="menu">
    <a href="">設定</a>
    <a href="{% url client.views.logout %}">ログアウト</a>
  </div>
  
  <div class="status_input">
    <textarea></textarea>
    <span class="count"></span>
    <div>
      <a href="" class="update button">ツイート</a>
    </div>
  </div>
  
  <!-- <div class="list_actions"> -->
  <!--   <a class="refresh button">更新</a> -->
  <!--   <a class="read button">既読</a> -->
  <!-- </div> -->
</div>

<div class="sidebar">
  <div>
    <a class="home button">ホーム<span class="count"></span></a>
    <a class="mentions button">あなた宛<span class="count"></span></a>
    <a class="dm button">DM<span class="count"></span></a>
    <a class="favorites button">お気に入り</a>
  </div>

  <div class="profile">
    <img src="http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png">

    <a class="user_timeline" href="">
      <div>
	<span class="dd screen_name">rinunu</span>
	<span class="dd name">りぬぬ</span>
      </div>
      <span>
	<span class="dd statuses_count" href="">123</span>
	ツイート
      </span>
    </a>
    <a class="twitter" href="" target="_blank">t</a>

    <a class="friends_count friends" href="">
      <span class="dd">123</span>
      <span class="dt">フォローしている</span>
    </a>

    <a class="followers_count followers" href="">
      <span class="dd">123</span>
      <span class="dt">フォローされている</span>
    </a>
    
    <a class=" favourites_count favorites" href="">
      <span class="dd">123</span>
      <span class="dt">お気に入り</span>
    </a>

    <div class="location">
      <span class="dt">現在地</span>
      <span class="dd">神奈川県マビノギ市ルエリ区</span>
    </div>

    <div class="url">
      <span class="dt">Web</span>
      <a class="dd" target="_blank"></a>
    </div>

    <div class="description">
      <span class="dt">自己紹介</span>
      <span class="dd">
	映画と Web 開発とワンピースがマイブームです〜 jQuery とチョッパーかわゆすぅぅ 今年こそアプリ公開するぞぉ
      </span>
    </div>
    
  </div>
</div>



<div class="list_container">
  <div class="main_list">
    <div tabindex='0' class='status'>
      <img class='profile_image' src='http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png'>
      
      <div class="body">
	<div class="status_actions">
	  <a class="favorite"> </a>
	  <a class="reply">返信</a>
	  <a class="rt">RT</a>
	</div>
	<span class="name">name</span>
	<div class="text">
	  つぶやきいいいい！
	</div>
	<div class="footer">
	  <a class="created_at">20:20:20</a>
	  <a class="source">Client</a>から
	</div>
      </div>

    </div>
  </div>
</div>

<div class="footer">
</div>

{% endblock %}