{% extends "base.html" %}

{% load media %}

{% block head %}
{% include_media 'main.js' %}
{% include_media 'main.css' %}

{% endblock %}

{% block body %}
<div class="bg0 bg current"></div>
<div class="bg1 bg"></div>


<div class="header menu">
  <h1>ねこふんじゃった</h1>
  <div>
    <a class="settings"><s>設定</s></a>
    <a href="{% url client.views.logout %}">ログアウト</a>
  </div>
</div>


  
<div class="status_input frame">
  <div class="text">
    <textarea></textarea>
  </div>
  <div class="tasks">
  </div>
  <div class="actions">
    <input name="file" type="file">
    <span class="count"></span>
    <a href="" class="update button">ツイート</a>
  </div>
</div>



<div class="sidebar">

  <div class="logo frame">
  </div>

  <div class="main menu frame">
    
    <div class="tabs basic">
      <a class="tab home_timeline">ホーム
	<span class="count">999</span></a>
      <a class="tab mentions">あなた宛
	<span class="count">999</span></a>
      <a class="tab dm"><s>DM</s></a>
    </div>

    <div class="tabs search">
      <form>
	<input type="text" class="search" placeholder="検索語">
	<a class="search button" tabindex="0">検索</a>
      </form>
    </div>

    <div class="tabs list">
      <a class="tab your">
	<span class="name">list1</span><span class="count">999</span></a>
      <a class="tab">
	<span class="name">list2</span><span class="count">999</span></a>
    </div>
  </div>

  <div class="profile frame">

    <div class="users tabs">
      <a class="tab">
	<img src="http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png">
      </a>
      <a class="tab">
	<img src="http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png">
      </a>
    </div>

    <div class="content">
      <a href="" class="profile_image lightbox">
	<img src="http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png">
      </a>
      
      <a class="user_timeline" href="">
	<div>
	  <span class="dd screen_name">sample</span>
	  <span class="dd name">サンプル</span>
	</div>
	<span>
	  <span class="dd statuses_count" href="">123</span>
	  ツイート
	</span>
      </a>
      <a class="twitter" href="" target="_blank">t</a>
      
      <a class="friends_count friends" href="">
	<span class="dd">123</span>
	<span class="dt">フォローしている</span>
      </a>
      
      <a class="followers_count followers" href="">
	<span class="dd">123</span>
	<span class="dt">フォローされている</span>
      </a>
      
      <a class=" favorites_count favorites" href="">
	<span class="dd">123</span>
	<span class="dt">お気に入り</span>
      </a>
      
      <div class="location">
	<span class="dt">現在地</span>
	<span class="dd">sample</span>
      </div>
      
      <div class="url">
	<span class="dt">Web</span>
	<a class="dd" target="_blank"></a>
      </div>
      
      <div class="description">
	<span class="dt">自己紹介</span>
	<span class="dd">
	  Sample.
	</span>
      </div>
    </div>
    
    <div class="pages tabs">
      <a class="tab active">プロフィール</a>
      <a class="tab"><s>フォロー状況</s></a>
      <a class="tab"><s>ツール</s></a>
    </div>
    
  </div><!-- profile -->

</div><!-- sidebar -->


<div class="timeline_frame frame">
  <div class="progress_container">
    <span class="progress">test</span>
  </div>
  <div class="actions">
    <a class="refresh button">更新</a>
  </div>

  <div class="timeline_viewport">

    <ol class="timeline">

      <li tabindex="0" class="status">
        <img class='profile_image'
	     src='http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png'>
        <div class="body">

  	  <a class="favorite off"></a>
  	  <span class="name">username</span>
	
  	  <div class="text">
  	    つぶやき つぶやき つぶやき つぶやき つぶやき つぶやき つぶやき 
つぶやき つぶやき つぶやき つぶやき つぶやき つぶやき つぶやき 
つぶやき つぶやき つぶやき つぶやき つぶやき つぶやき つぶやき 
	    <a class="hash">#hash</a>
	    @<a class="user">user</a>
	    @<a class="user in_reply_to">user</a>
  	  </div>
	  
	  <div class="actions">
  	    <a class="reply">返信</a>
  	    <a class="rt">リツイート</a>
	  </div>

  	  <div class="footer">
  	    <a class="created_at">20:20:20</a>
  	    <a class="source">Client</a>から
	    <span class="rt">
  	      <a>
		<img class="profile_image_rt"
		     src="http://s.twimg.com/a/1275689140/images/default_profile_1_normal.png">
		<span>foo</span>
	      </a>
	      がリツイート
	    </span>	    
  	  </div>
        </div>
      </li><!-- status -->
      
    </ol><!-- timeline -->
    
  </div><!-- timeline_viewport -->
</div><!-- frame -->

<div class="footer">
</div>

<div class="popup menu float">
  <p class="message">
    メッセージ。
  </p>
  <p class="commands">
    <a class="button">ボタン</a>
    <a class="button">ボタン</a>
  </p>
</div>


<div class="hidden system">
  <img src="{% media_url 'images/wait.gif' %}">
  <img src="{% media_url 'images/conversation.png' %}">
  <span class="screen_name">{{ screen_name }}</span>
  {% csrf_token %}
</div>

{% endblock %}