/* ---------------------------------------------------------------------- */
/* 全体構成 */

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    height: 100%;
}

.header{
    position: absolute;
    height: 120px;
    top: 2px;
    left: 30px;
    right: 280px;
}

.sidebar{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 250px;
    margin: 0 10px;
}

.list_container{
    position: absolute;
    top: 130px;
    bottom: 35px;
    left: 30px;
    right: 280px;
    padding: 5px;
}

.main_list{
    height: 100%;
    width: 100%;
    /* position: absolute; */
    /* top: 0px; */
    /* bottom: 0px; */
    /* left: 5px; */
    /* right: 0px; */
}

.list_actions{
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
}

body > .footer{
    position: absolute;
    height: 15px;
    bottom: 0px;
    left: 30px;
    right: 280px;
}

/* ---------------------------------------------------------------------- */
/* 全体的な配色 */

.list_container,
.header
{
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.status .body{
    background-color: #fff;
}

.status:nth-child(even) .body{
    background-color: #efefff;
}

.status.focus .body{
    /* -moz-box-shadow: 20px 20px 20px #224466; */
    /* -webkit-box-shadow: 0px 0px 10px #eef; */
    /* outline: solid 2px #55f; */
    background-color: #889;
    color: #fff;
}

.profile{
    clear: both;
    background-color: rgba(0,0,0,0.2);
    margin: 5px;
}
.profile .content{
    background-color: #f9f9f9;
}

body > .footer{
    background-color: #fff;
}

/* ---------------------------------------------------------------------- */
/* common */

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
}

img{
    border: none;
}

.clear{
    clear: both;
}

/**
 * ボタンっぽい見た目
 * ボタンには必ずしもこの class を指定しなくてよい
 */
.button{
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #eef;
}

.button:hover{
    color: #000;
    background-color: #dde;
}

.hidden{
    display: none;
}

/* ---------------------------------------------------------------------- */

body{
    font-size: 13px;
    font-family: sans-serif;
    line-height: 1.5;
    word-break: break-all;
}

/* ---------------------------------------------------------------------- */
/* header */

.header{
}

.header > .menu{
    text-align: right;
    width: 100%;
}

.status_input .text{
    position: absolute;
    top: 20px;
    left: 10px;
    right: 10px;
    height: 50px;
}

.status_input textarea{
    width: 100%;
    height: 100%;
    font-size: 13px;
}

.status_input .update{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 15px;
    padding: 3px 5px;
}

.list_actions{
    position: absolute;
    bottom: 0;
}

.list_actions .button{
    font-size: 15px;
    padding: 3px 5px;
}

/* ---------------------------------------------------------------------- */
/* bg */

.bg0, .bg1{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 3s ease-in;
}

.bg0{
    background-color: #09B;
}

.bg1{
}

.bg{
    opacity: 0;
}
.bg.current{
    opacity: 1;
}

/* ---------------------------------------------------------------------- */
/* .main_list */

.main_list{
    overflow-y: scroll;
}

/* ---------------------------------------------------------------------- */
/* つぶやき */

.status{
    -webkit-transition: opacity 0.2s ease-in;
    margin: 5px 10px;
}

.status.new{
    opacity: 0.01;
}

.status a{
    color: #005;
}

.status a:hover{
    color: #449;
}

.status .profile_image{
    clear: both;
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    /* border-radius: 5px; */
    border: 2px solid #fff;
}

.status .body{
    padding: 5px;
    padding-bottom: 0;
    border: solid 1px #222;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    min-height: 50px;
    cursor: pointer;
    margin-left: 60px;
}

.status:focus{
    outline: none;
}

.status .name{
    font-weight: bold;
}

.status .footer{
    font-size: 10px;
    color: #ccc;
    text-align: right;
}

.status .in_reply_to:after{
    content: url(../images/conversation.png);
}

.status_actions{
    float: right;
    font-size: 8px;
    margin-left: 10px;
}

.status_actions a{
    -webkit-transition: opacity 0.3s ease-in;
    visibility: hidden;
    display: block;
    margin: 0px 2px;
    font-size: 12px;
    opacity: 0;
}

.status:hover .status_actions a{
    visibility: visible;
    opacity: 1;
}

.status_actions .favorite{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}

.status_actions .favorite:hover, .status .unfavorite:hover{
    /* background-image: url(../images/star.png); */
}

/**
 */
.status_actions a.favorite.off{
    background-image: url(../images/star_off.png);
}

.status_actions a.favorite.on{
    background-image: url(../images/star.png);
    visibility: visible;
    opacity: 1;
}

.status_actions a.favorite.wait{
    background-image: url(../images/wait.gif);
    visibility: visible;
    opacity: 1;
}

.status_actions .text img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.status .footer, .status .footer a{
    color: #999;
}

/* ---------------------------------------------------------------------- */
/* .sidebar */

.sidebar{
}

.sidebar .button{
    display: block;
    float: left;
    font-size: 15px;
    padding: 3px 10px;
    margin: 3px 5px;
}

/* ---------------------------------------------------------------------- */
/* リスト切り替えタブ */

.tab{
    display: block;
    width: auto;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 3px;
}

.tab:hover{
    background-color: #ddd;
}

.button .count{
    /* color: #fff; */
    /* font-size: 10px; */
    /* border-radius: 7px; */
    /* -webkit-border-radius: 7px; */
    /* background-color: #aaa; */
    /* border: 1px solid #999; */
    /* padding: 1px 5px; */
    /* margin: 0px 5px; */
}


/* ---------------------------------------------------------------------- */
/* .profile */

.profile{
    font-size: 11px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 5px;
}

.profile .content{
    padding: 5px;
}

.profile img{
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 5px;
    width: 48px;
    height: 48px;
}

.profile .user_timeline{
    width: 150px;
    display: block;
    float: left;
}

.profile a.twitter, .profile a.twitter:hover{
    display: block;
    float: left;
    margin-left: 5px;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    background-color: #00BFFF;
}

.profile .dt{
    font-weight: bold;
}

.profile .screen_name:after{
    content: " / "
}

.profile .statuses_count.dd{
    text-decoration: underline;
}

.profile a{
    /* text-decoration: underline; */
}

.profile a:hover{
    color: #999;
}

.profile .screen_name{
    font-weight: bold;
}

.profile .friends_count .dt,
.profile .followers_count .dt,
.profile .favorites_count .dt{
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.profile .friends_count,
.profile .followers_count,
.profile .favorites_count{
    display: block;
}

.profile .friends_count .dd,
.profile .followers_count .dd,
.profile .favorites_count .dd{
    display: block;
    font-size: 15px;
    text-decoration: underline;
}

.profile .friends_count{
    width: 70px;
    float: left;
    clear: both;
}

.profile .followers_count{
    width: 70px;
    float: left;
}

.profile .favorites_count{
    width: 70px;
    float: left;
}

.profile .location{
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* footer */

