/* ---------------------------------------------------------------------- */
/* 全体構成 */

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    height: 100%;
}

.root.menu{
    height: 30px;
}

.header{
    position: absolute;
    height: 70px;
    top: 35px;
    left: 30px;
    right: 290px;
}

.sidebar{
    position: absolute;
    top: 35px;
    right: 10px;
    width: 240px;
    margin: 0 10px;
}

.timeline_frame{
    position: absolute;
    top: 130px;
    bottom: 5px;
    left: 30px;
    right: 290px;
}

.timeline_viewport{
    position: absolute;
    top: 25px;
    bottom: 10px;
    left: 0px;
    right: 0px;
}

.list_actions{
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
}

body > .footer{
    position: absolute;
    height: 15px;
    bottom: 0px;
    left: 30px;
    right: 280px;
}

.profile{
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* 全体的な配色 */

.frame{
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: solid 1px #333;
}

.header.frame, .sidebar .frame{
    background-color: rgba(0,0,0,0.2);

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.status .body{
    color: #000;
    background-color: #fff;
}

.status:nth-child(even) .body{
    background-color: #f5f5ff;
}

.status.focus .body{
    /* -moz-box-shadow: 20px 20px 20px #224466; */
    /* -webkit-box-shadow: 0px 0px 10px #eef; */
    /* outline: solid 2px #55f; */
    background-color: #889;
    color: #fff;
}

.profile .content{
    color: #000;
    background-color: #f9f9f9;
}

body > .footer{
    /* background-color: #fff; */
}

/* ---------------------------------------------------------------------- */
/* common */

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
}

img{
    border: none;
}

.clear{
    clear: both;
}

/**
 * ボタンっぽい見た目
 * ボタンには必ずしもこの class を指定しなくてよい
 */
.button{
    color: #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    border: solid 1px #777;
    background-color: #777;

    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(200, 200, 200)));
    background-image: -moz-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(200,200,200) 100%);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.button:hover{
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, rgb(220,220,220)),color-stop(1, rgb(200, 200, 200)));
    background-image: -moz-linear-gradient(-90deg,rgb(220,220,220) 0%,rgb(200,200,200) 100%);
}

.hidden{
    display: none;
}

/* ---------------------------------------------------------------------- */

body{
    font-size: 13px;
    font-family: sans-serif;
    line-height: 1.5;
    word-break: break-all;
    overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/* header */

.header{
    padding: 5px;
}

.root.menu{
    font-size: 11px;
    padding: 0 5px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

h1{
    display: inline;
    font-size: 12px;
    line-height: 30px;
    vertical-align: middle;
}

.root.menu div:nth-child(1){
    float: left;
}

.root.menu div:nth-child(2){
    text-align: right;
    height: 100%;
}

.root.menu div:nth-child(2) a{
    line-height: 30px;
    vertical-align: middle;
}

.status_input > .text{
    margin-right: 10px;
}

.status_input textarea{
    width: 100%;
    height: 100%;
    font-size: 13px;
    resize: none;
}

.status_input .count{
}

.status_input .update{
    display: block;
    float: right;

    font-size: 15px;
    padding: 1px 5px;
}

.status_input .actions{
    text-align: right;
}

.list_actions{
    position: absolute;
    bottom: 0;
}

.list_actions .button{
    font-size: 15px;
    padding: 1px 5px;
}

/* ---------------------------------------------------------------------- */
/* bg */

.bg0, .bg1{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 3s ease-in;
}

.bg0{
    background-color: #09B;
}

.bg1{
}

.bg{
    opacity: 0;
}
.bg.current{
    opacity: 1;
}

/* ---------------------------------------------------------------------- */
/* .timeline */

.timeline_viewport{
    overflow-y: scroll;
}

.timeline{
}

/* ---------------------------------------------------------------------- */
/* つぶやき */

.status{
    -webkit-transition: opacity 0.2s ease-in;
    margin: 5px 10px;
}

.status.new{
    opacity: 0.01;
}

.status a{
    color: #005;
}

.status a:hover{
    color: #449;
}

.status .profile_image{
    clear: both;
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    /* border-radius: 5px; */
    border: 2px solid #fff;
}

.status .body{
    padding: 5px;
    padding-bottom: 0;
    border: solid 1px #222;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    min-height: 50px;
    cursor: pointer;
    margin-left: 60px;
}

.status:focus{
    outline: none;
}

.status .name{
    font-weight: bold;
}

.status .footer{
    margin-top: 5px;
    font-size: 10px;
    color: #ccc;
}

.status .in_reply_to:after{
    content: url(../images/conversation.png);
}

.status_actions{
    float: right;
    font-size: 8px;
    margin-left: 10px;
}

.status_actions a{
    -webkit-transition: opacity 0.3s ease-in;
    visibility: hidden;
    display: block;
    margin: 0px 2px;
    font-size: 12px;
    opacity: 0;
}

.status:hover .status_actions a{
    visibility: visible;
    opacity: 1;
}

.status_actions .favorite{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}

.status_actions .favorite:hover, .status .unfavorite:hover{
    /* background-image: url(../images/star.png); */
}

/**
 */
.status_actions a.favorite.off{
    background-image: url(../images/star_off.png);
}

.status_actions a.favorite.on{
    background-image: url(../images/star.png);
    visibility: visible;
    opacity: 1;
}

.status_actions a.favorite.wait{
    background-image: url(../images/wait.gif);
    visibility: visible;
    opacity: 1;
}

.status_actions .text img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.status .footer, .status .footer a{
    color: #999;
}

/* ---------------------------------------------------------------------- */
/* .sidebar */

.sidebar{
    padding: 0px;
}

.sidebar .frame{
    padding: 5px;
    margin-bottom: 5px;
}

.sidebar .frame:after{
    content: "";
    display: block;
    clear: both;
}


/* ---------------------------------------------------------------------- */
/* main menu */

.main.menu .tabs{
    margin-bottom: 10px;
}

.main.menu .tabs:after{
    content: "";
    display: block;
    clear: both;
}

.tabs.basic a{
    display: block;
    float: left;
    font-size: 15px;
    width: 90px;
    margin: 1px;

    text-align: center;

    color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(240, 240, 240)));
    background-image: -moz-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(240,240,240) 100%);

    border: solid 1px #000;
}

.tab .count{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    font-size: 11px;
    margin-left: 3px;
    padding: 1px;
    color: #fff;
    background-color: #001;
}

.tabs.search .tab, .tabs.list .tab{
    display: block;
    float: left;
    font-size: 12px;
    padding: 1px 2px;
    margin: 1px;
    height: 20px;

    color: #000;
    background-color: #fff;
    border: solid 1px #000;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.tabs.search:after, .tabs.list:after{
    content: "";
    display: block;
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* リスト切り替えタブ */

/* .tab{ */
/*     display: block; */
/*     width: auto; */
/*     font-size: 14px; */
/*     border-radius: 3px; */
/*     -webkit-border-radius: 3px; */
/*     -moz-border-radius: 3px; */
/*     background-color: #eee; */
/*     border: 1px solid #ccc; */
/*     padding: 3px; */
/* } */

/* .tab:hover{ */
/*     background-color: #ddd; */
/* } */

.button .count{
    /* color: #fff; */
    /* font-size: 10px; */
    /* border-radius: 7px; */
    /* -webkit-border-radius: 7px; */
    /* background-color: #aaa; */
    /* border: 1px solid #999; */
    /* padding: 1px 5px; */
    /* margin: 0px 5px; */
}


/* ---------------------------------------------------------------------- */
/* .profile */

.profile{
    font-size: 11px;
    padding: 5px;
}

.profile .tabs{
    background-color: rgba(0,0,0,0.5);
    padding: 2px;
}

.profile .content{
    padding: 5px;
}

.profile .content img{
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 5px;
    width: 48px;
    height: 48px;
}

.profile .user_timeline{
    width: 150px;
    display: block;
    float: left;
}

.profile a.twitter, .profile a.twitter:hover{
    display: block;
    float: left;
    margin-left: 5px;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    background-color: #00BFFF;
}

.profile .dt{
    font-weight: bold;
}

.profile .screen_name:after{
    content: " / "
}

.profile .statuses_count.dd{
    text-decoration: underline;
}

.profile a{
    /* text-decoration: underline; */
}

.profile a:hover{
    color: #999;
}

.profile .screen_name{
    font-weight: bold;
}

.profile .friends_count .dt,
.profile .followers_count .dt,
.profile .favorites_count .dt{
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.profile .friends_count,
.profile .followers_count,
.profile .favorites_count{
    display: block;
}

.profile .friends_count .dd,
.profile .followers_count .dd,
.profile .favorites_count .dd{
    display: block;
    font-size: 15px;
    text-decoration: underline;
}

.profile .friends_count{
    width: 70px;
    float: left;
    clear: both;
}

.profile .followers_count{
    width: 70px;
    float: left;
}

.profile .favorites_count{
    width: 70px;
    float: left;
}

.profile .location{
    clear: both;
}

/* ---------- */

.profile .tabs{
}

.profile .tab{
    display: block;
    float:left;
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 10px;
    margin: 2px;
    border: solid 1px #ccc;

    width: 20px;
    height: 20px;
}

.profile .tab img{
    width: 100%;
    height: 100%;
}

.profile .tab:hover{
    border: solid 1px #fff;
}

.profile .tabs:after{
    content: "";
    display: block;
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* progress */

.progress_container{
    position: relative;
    width: 250px;
    height: 20px;
    overflow: hidden;
    margin-top: 5px;
}

.progress{
    position: absolute;
    top: 0px;
    left: -100px;

    border-radius: 0 5px 0 0 ;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;

    font-size: 10px;
    padding: 1px 3px;
    padding-right: 10px;

    opacity: 0;

    color: #000;
    background-color: rgba(255,255,255, 1);

    -webkit-transition: all 0.2s ease-out;
}

.progress.active{
    opacity: 1;
    left: 0px;
}

.progress.error{
    color: #fff;
    background-color: rgba(255,0,0,0.8);
    opacity: 1;
    left: 0px;
}

/* ---------------------------------------------------------------------- */
/* footer */

