/* ---------------------------------------------------------------------- */
/* 全体構成 */

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    height: 100%;
}

.root.menu{
    height: 30px;
}

.header{
    position: absolute;
    height: 90px;
    top: 35px;
    left: 30px;
    right: 310px;
}

.sidebar{
    position: absolute;
    top: 35px;
    right: 10px;
    width: 280px;
    margin: 0 10px;
}

.timeline_frame{
    position: absolute;
    top: 140px;
    bottom: 5px;
    left: 30px;
    right: 310px;
}

.timeline_viewport{
    position: absolute;
    top: 30px;
    bottom: 10px;
    left: 0px;
    right: 0px;
}

.timeline{
    position: absolute;
    width: 100%;
}

body > .footer{
    position: absolute;
    height: 15px;
    bottom: 0px;
    left: 30px;
    right: 280px;
}

.profile{
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* 全体的な配色 */

.frame{
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: solid 1px #333;
}

.header.frame, .sidebar .frame{
    background-color: rgba(0,0,0,0.2);

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.status .body{
    color: #000;
    background-color: #fff;
}

/* .status:nth-child(even) .body{ */
/*     background-color: #f5f5ff; */
/* } */

.status.focus .body{
    /* -moz-box-shadow: 20px 20px 20px #224466; */
    /* -webkit-box-shadow: 0px 0px 10px #eef; */
    /* outline: solid 2px #55f; */
    background-color: #dde;
    color: #000;
}

.profile .content{
    color: #000;
    background-color: #f9f9f9;
    border: solid 1px #555;
}

body > .footer{
    /* background-color: #fff; */
}

/* ---------------------------------------------------------------------- */
/* common */

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
}

img{
    border: none;
}

.clear{
    clear: both;
}

/**
 * ボタンっぽい見た目
 * ボタンには必ずしもこの class を指定しなくてよい
 */
.button{
    color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(240, 240, 240)));
    background-image: -moz-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(240,240,240) 100%);

    border: solid 1px #000;
}

.button:hover{
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, rgb(220,220,220)),color-stop(1, rgb(200, 200, 200)));
    background-image: -moz-linear-gradient(-90deg,rgb(220,220,220) 0%,rgb(200,200,200) 100%);
}

.hidden{
    display: none;
}

.float{
    position: absolute;
    
    -webkit-box-shadow: 0px 7px 7px #777;
}

/* ---------------------------------------------------------------------- */

body{
    font-size: 13px;
    font-family: sans-serif;
    line-height: 1.2;
    word-break: break-all;
    overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/* root menu */

.root.menu{
    font-size: 11px;
    padding: 0 5px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

h1{
    display: inline;
    font-size: 12px;
    line-height: 30px;
    vertical-align: middle;
}

.root.menu div:nth-child(1){
    float: left;
}

.root.menu div:nth-child(2){
    text-align: right;
    height: 100%;
}

.root.menu div:nth-child(2) a{
    line-height: 30px;
    vertical-align: middle;
}

/* ---------------------------------------------------------------------- */
/* status input */

.header{
    padding: 5px;
    overflow: hidden;
}

.status_input > .text{
    height: 50px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.status_input textarea{
    width: 100%;
    height: 100%;
    font-size: 13px;
    resize: none;
}

.status_input .actions{
    margin-top: 5px;
    text-align: right;
}

.status_input .update{
    display: block;
    float: right;

    font-size: 15px;
    padding: 1px 5px;
}

/* ---------------------------------------------------------------------- */
/* tasks */

.tasks{
    display: none;
    float: left;
    width: 30px;
    height: 20px;
    margin-left: 0px;

    margin-top: 10px;
    border-radius: 0 10px 0 0 ;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    padding: 1px 10px;
    background: #000 url(../images/wait2.gif) no-repeat center;
}

.tasks{
    margin-left: 0px;
}

/* ---------------------------------------------------------------------- */
/* bg */

.bg0, .bg1{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s ease-in;
}

.bg0{
    background-color: #09B;
}

.bg1{
}

.bg{
    opacity: 0;
}
.bg.current{
    opacity: 1;
}

/* ---------------------------------------------------------------------- */
/* .timeline */

.timeline_viewport{
    overflow-y: scroll;
}

.timeline{
    list-style-type: none;
    padding: 0px;
}

/* パディング */
.timeline:after{
    content: "";
    display: block;
    height: 1000px;
}

.timeline_frame{
    padding: 3px;
}

.timeline_frame .actions{
    
}

.timeline_frame .actions a{
    display: block;
    float: right;
    padding: 1px 3px;
}


/* ---------------------------------------------------------------------- */
/* つぶやき */

.status{
    font-size: 13px;
    -webkit-transition: opacity 0.2s ease-in;
    margin: 5px 10px;
}

.status.new{
    opacity: 0.01;
}

.status .text a{
    color: #33b;
}

.status .text a:hover{
    text-decoration: underline;
}

.status .profile_image{
    clear: both;
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    /* border-radius: 5px; */
    border: 2px solid #fff;
}

.status .body{
    padding: 5px;
    padding-bottom: 0;
    border: solid 1px #222;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    min-height: 50px;
    cursor: pointer;
    margin-left: 60px;
}

.status:focus{
    outline: none;
}

.status .name{
    font-weight: bold;
}

.status.in_reply_to .name:after{
    content: url(../images/conversation.png);
    cursor: pointer;
}

.status .user.in_reply_to:after{
    content: url(../images/conversation.png);
    cursor: pointer;
}

.status .footer{
    margin-top: 5px;
}

.status .info{
    float: left;
    font-size: 10px;
    color: #999;
}

.status .actions{
    font-size: 11px;
    float: right;
}

.status .actions a{
    color: #000;
}
.status .actions a:hover{
    text-decoration: underline;
}

.status .footer:after{
    content: "";
    display: block;
    clear: both;
}

.status a.favorite{
    display: block;
    width: 16px;
    height: 16px;
    float: right;
    font-size: 8px;
}

.status a.favorite.off{
    background-image: url(../images/star_off.png);
}

.status a.favorite.on{
    background-image: url(../images/star.png);
}

.status a.favorite.wait{
    background-image: url(../images/wait.gif);
}

/* .a{ */
/*     -webkit-transition: opacity 0.3s ease-in; */
/*     visibility: hidden; */
/*     display: block; */
/*     margin: 0px 2px; */
/*     font-size: 12px; */
/*     opacity: 0; */
/* } */

/* .status:hover .status_actions a{ */
/*     visibility: visible; */
/*     opacity: 1; */
/* } */

/* ---------- */
/* hover */

.status:not(.focus):hover .body{
    background-color: #f7f7ff;
}

.status .actions{
    opacity: 0;
}

.status:hover .actions{
    opacity: 1;
}

/**
 */
.status a.favorite.off{
    opacity: 0;
}
.status:hover a.favorite.off{
    opacity: 1;
}

.status a.favorite.on{
    opacity: 1;
}

.status a.favorite.wait{
    opacity: 1;
}

.status .text img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/* ---------------------------------------------------------------------- */
/* .sidebar */

.sidebar{
    padding: 0px;
}

.sidebar .frame{
    padding: 5px;
    margin-bottom: 5px;
}

.sidebar .frame:after{
    content: "";
    display: block;
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* logo */

.logo.frame{
    visibility: hidden;
    height: 100px;
}


/* ---------------------------------------------------------------------- */
/* main menu */

.main.menu .tabs{
    margin-bottom: 10px;
}

.main.menu .tabs:after{
    content: "";
    display: block;
    clear: both;
}

.tabs.basic .tab{
    display: block;
    float: left;
    font-size: 15px;
    width: 95px;
    margin: 1px;

    text-align: center;

    color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(240, 240, 240)));
    background-image: -moz-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(240,240,240) 100%);

    border: solid 1px #000;
}

.tab .count{
    display: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    font-size: 11px;
    margin-left: 3px;
    padding: 1px;
    color: #fff;
    background-color: #001;
}

.tabs.search .tab, .tabs.list .tab{
    display: block;
    float: left;
    font-size: 12px;
    padding: 1px 1px;
    margin: 1px;

    color: #000;
    background-color: #fff;
    border: solid 1px #000;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(230,230,255)), color-stop(1, rgb(200,200,220)));
    background-image: -moz-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(240,240,240) 100%);
}

.tabs.search:after, .tabs.list:after{
    content: "";
    display: block;
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* .profile */

.profile{
    font-size: 11px;
    padding: 5px;
}

.profile .content{
    padding: 5px;
}

.profile .content img{
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 5px;
    width: 48px;
    height: 48px;
}

.profile .user_timeline{
    width: 150px;
    display: block;
    float: left;
}

.profile a.twitter, .profile a.twitter:hover{
    display: block;
    float: left;
    margin-left: 5px;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    background-color: #00BFFF;
}

.profile .dt{
    font-weight: bold;
}

.profile .screen_name:after{
    content: " / "
}

.profile .statuses_count.dd{
    text-decoration: underline;
}

.profile a{
    /* text-decoration: underline; */
}

.profile a:hover{
    color: #999;
}

.profile .screen_name{
    font-weight: bold;
}

.profile .friends_count .dt,
.profile .followers_count .dt,
.profile .favorites_count .dt{
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.profile .friends_count,
.profile .followers_count,
.profile .favorites_count{
    display: block;
}

.profile .friends_count .dd,
.profile .followers_count .dd,
.profile .favorites_count .dd{
    display: block;
    font-size: 15px;
    text-decoration: underline;
}

.profile .friends_count{
    width: 70px;
    float: left;
    clear: both;
}

.profile .followers_count{
    width: 70px;
    float: left;
}

.profile .favorites_count{
    width: 70px;
    float: left;
}

.profile .location{
    clear: both;
}

/* ---------- */

.profile .users.tabs{
    background-color: rgba(0,0,0,0.5);
    padding: 2px;
}

.profile .users.tabs .tab{
    display: block;
    float:left;
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 10px;
    margin: 2px;
    border: solid 1px #ccc;

    width: 20px;
    height: 20px;
}

.profile .users.tabs .tab img{
    width: 100%;
    height: 100%;
}

.profile .users.tabs .tab:hover{
    border: solid 1px #fff;
}

.profile .users.tabs:after{
    content: "";
    display: block;
    clear: both;
}

.profile .pages.tabs .tab{
    display: block;
    float:left;
    padding: 0px 2px;
    border: solid 1px #111;
    border-top: none;
    font-size: 10px;
    color: #000;
    background-color: #ccc;
}

.profile .pages.tabs .tab.active{
    color: #000;
    background-color: #f9f9f9;
}

/* ---------------------------------------------------------------------- */
/* progress */

.progress_container{
    float: left;
    width: 250px;
    height: 20px;
    overflow: hidden;
    margin-top: 5px;
}

.progress{
    position: relative;
    left: -100px;

    border-radius: 0 5px 0 0 ;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;

    font-size: 10px;
    padding: 1px 3px;
    padding-right: 10px;

    opacity: 0;

    color: #000;
    background-color: rgba(255,255,255, 1);

    -webkit-transition: all 0.2s ease-out;
}

.progress.active{
    opacity: 1;
    left: 0;
}

.progress.error{
    color: #fff;
    background-color: rgba(255,0,0,0.8);
    opacity: 1;
    left: 0px;
}

/* ---------------------------------------------------------------------- */
/* context menu */

.popup.menu{
    display: absolute;
    width: 200px;
    left: 0;
    top: 0;

    text-align: center;

    background-color: #fff;
    padding: 5px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* ---------------------------------------------------------------------- */
/* footer */

