html{
    font-size: 13px;
    font-family: sans-serif;

    height: 100%;
    padding: 0;
    margin: 0;
    word-break: break-all;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

/* a:hover{ */
/*     text-decoration: underline; */
/* } */

.clear{
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* common */

a.hash, a.user, a.url{
    color: #005;
}

/* a.url{ */
/*     text-decoration: underline; */
/* } */

a.hash:hover, a.url:hover, a.user:hover{
    color: #999;
}

/* ---------------------------------------------------------------------- */
/* 全体構成 */

.status_input{
}

.sidebar{
    float: right;
    width: 250px;
}

.main_list{
    height: 400px;
    margin: 0 10px;
}

.list_actions{
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
}

/* ---------------------------------------------------------------------- */

.bg0, .bg1{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 2s;
}

.bg0{
    background-color: #fff;
}

.bg1{
}

.bg{
    opacity: 0;
}
.bg.current{
    opacity: 1;
}

/* ---------------------------------------------------------------------- */
/* .main_list */

.main_list{
    overflow-y: auto;
    border: 1px solid #ccc;
}

/* ---------------------------------------------------------------------- */
/* .list_actions */

.list_actions{
}

.list_actions a{
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    font-size: 15px;
    padding: 3px;
}

.list_actions a:hover{
    background-color: #fff;
}

/* ---------------------------------------------------------------------- */
/* .sidebar */

.sidebar{
    margin: 0 10px;
}

/* ---------------------------------------------------------------------- */
/* リスト切り替えタブ */

.tab{
    display: block;
    width: auto;
    font-size: 14px;
    border-radius: 3px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 3px;
}

.tab:hover{
    background-color: #ddd;
}

.tab .count{
    color: #fff;
    font-size: 10px;
    border-radius: 7px;
    background-color: #aaa;
    border: 1px solid #999;
    padding: 1px 5px;
    margin: 0px 5px;
}

/* ---------------------------------------------------------------------- */
/* 入力 */

.status_input textarea{
    font-size: 13px;
    width: 800px;
    height: 50px;
}

/* ---------------------------------------------------------------------- */
/* つぶやき */

.status{
    padding: 3px;
    padding-bottom: 0;
    border-color: #ccc;
    border-bottom: solid 1px #999;
    min-height: 50px;
    cursor: pointer;
    background-color: #fff;
}

.status:nth-child(even){
    background-color: #f9f9f9;
}

.status:focus{
    outline: none;
}

.status.focus{
    background-color: #888;
    color: #fff;
}

.status .profile_image{
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.status .name{
    font-weight: bold;
}

.status_actions{
    float: right;
    font-size: 8px;
}

.status_actions a{
    color: #000;
    border-radius: 3px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.status .footer{
    font-size: 10px;
    color: #ccc;
    text-align: right;
}

/* ---------------------------------------------------------------------- */
/* .profile */

.profile{
    font-size: 11px;
    border-radius: 7px;
    background-color: #eee;
    border: 1px solid #999;
    padding: 5px;
    margin: 5px;
}

.profile img{
    float: left;
    border-radius: 5px;
    margin-right: 5px;
    width: 48px;
    height: 48px;
}

.profile .user_timeline{
    width: 150px;
    display: block;
    float: left;
}

.profile a.twitter, .profile a.twitter:hover{
    display: block;
    float: left;
    margin-left: 5px;

    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    background-color: #00BFFF;
}

.profile .dt{
    font-weight: bold;
}

.profile .screen_name:after{
    content: " / "
}

.profile .statuses_count.dd{
    text-decoration: underline;
}

.profile a{
    /* text-decoration: underline; */
}

.profile a:hover{
    color: #999;
}

.profile .screen_name{
    font-weight: bold;
}

.profile .friends_count .dt,
.profile .followers_count .dt,
.profile .favourites_count .dt{
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.profile .friends_count,
.profile .followers_count,
.profile .favourites_count{
    display: block;
}

.profile .friends_count .dd,
.profile .followers_count .dd,
.profile .favourites_count .dd{
    display: block;
    font-size: 15px;
    text-decoration: underline;
}

.profile .friends_count{
    width: 70px;
    float: left;
    clear: both;
}

.profile .followers_count{
    width: 70px;
    float: left;
}

.profile .favourites_count{
    width: 70px;
    float: left;
}

.profile .location{
    clear: both;
}

