html{
    font-size: 13px;
    font-family: sans-serif;

    height: 100%;
    padding: 0;
    margin: 0;
    word-break: break-all;
}

/* ---------------------------------------------------------------------- */
/* 全体構成 */

body{
    margin: 0;
    height: 100%;
}

.header{
    position: absolute;
    height: 130px;
    top: 0px;
    width: 100%;
}

.sidebar{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 250px;
}

.list_container{
    position: absolute;
    top: 130px;
    bottom: 10px;
    left: 10px;
    right: 280px;
}

.main_list{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.list_actions{
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
}

/* ---------------------------------------------------------------------- */
/* common */

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #999;
}

.clear{
    clear: both;
}

a.hash, a.user, a.url{
    color: #005;
}

/* a.url{ */
/*     text-decoration: underline; */
/* } */

a.hash:hover, a.url:hover, a.user:hover{
    color: #999;
}

/**
 * ボタンっぽい見た目
 * ボタンには必ずしもこの class を指定しなくてよい
 */
.button{
    border: 1px solid #999;
    border-radius: 5px;
    -webkit-border-radius: 3px;
    background-color: #eee;
}

.button:hover{
    background-color: #fff;
}

/* ---------------------------------------------------------------------- */
/* .header */

.header .menu{
    text-align: right;
    position: absolute;
    top: 0;
    right: 280px;
}

.status_input textarea{
    position: absolute;
    top: 20px;
    left: 10px;
    right: 280px;
    height: 50px;
    font-size: 13px;
}

.status_input .update{
    position: absolute;
    right: 280px;
    bottom: 20px;
    font-size: 15px;
    padding: 3px 5px;
}

.list_actions{
    position: absolute;
    bottom: 0;
}

.list_actions .button{
    font-size: 15px;
    padding: 3px 5px;
}

/* ---------------------------------------------------------------------- */
/* bg */

.bg0, .bg1{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 5s ease-in;
}

.bg0{
    background-color: #fff;
}

.bg1{
}

.bg{
    opacity: 0;
}
.bg.current{
    opacity: 1;
}

/* ---------------------------------------------------------------------- */
/* .main_list */

.main_list{
    overflow-y: auto;
}

/* ---------------------------------------------------------------------- */
/* つぶやき */

.status{
}

.status .profile_image{
    clear: both;
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    /* border-radius: 5px; */
    border: 1px solid #777;
}

.status .body{
    padding: 5px;
    padding-bottom: 0;
    border: solid 1px #222;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    min-height: 50px;
    cursor: pointer;
    background-color: #fff;
    margin: 3px;
    margin-left: 60px;
}

.status:nth-child(even) .body{
    background-color: #f9f9f9;
}

.status.focus .body{
    background-color: #777;
    color: #fff;
}

.status:focus{
    outline: none;
}

.status .name{
    font-weight: bold;
}

.status .footer{
    font-size: 10px;
    color: #ccc;
    text-align: right;
}

.status .in_reply_to:after{
    content: url(conversation.png);
}

.status_actions{
    float: right;
    font-size: 8px;
    margin-left: 10px;
}

.status_actions a{
    -webkit-transition: opacity 0.5s ease-in;
    visibility: hidden;
    display: block;
    margin: 0px 2px;
    font-size: 12px;
    opacity: 0;
}

.status:hover .status_actions a{
    visibility: visible;
    opacity: 1;
}

.status_actions .favorite{
    background-image: url(images/star_off.png);
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}

.status_actions .favorite:hover, .status .unfavorite:hover{
    background-image: url(images/star.png);
}

/**
 */
.status_actions a.favorite.favorited{
    background-image: url(images/star.png);
    visibility: visible;
    opacity: 1;
}

.status_actions .text img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

/* ---------------------------------------------------------------------- */
/* .sidebar */

.sidebar{
    margin: 0 10px;
}

.sidebar .button{
    display: block;
    float: left;
    font-size: 15px;
    padding: 3px 10px;
    margin: 3px 5px;
}

/* ---------------------------------------------------------------------- */
/* リスト切り替えタブ */

.tab{
    display: block;
    width: auto;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 3px;
}

.tab:hover{
    background-color: #ddd;
}

.button .count{
    /* color: #fff; */
    /* font-size: 10px; */
    /* border-radius: 7px; */
    /* -webkit-border-radius: 7px; */
    /* background-color: #aaa; */
    /* border: 1px solid #999; */
    /* padding: 1px 5px; */
    /* margin: 0px 5px; */
}


/* ---------------------------------------------------------------------- */
/* .profile */

.profile{
    clear: both;
    font-size: 11px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #f9f9f9;
    border: 1px solid #999;
    padding: 5px;
    margin: 5px;
}

.profile img{
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 5px;
    width: 48px;
    height: 48px;
}

.profile .user_timeline{
    width: 150px;
    display: block;
    float: left;
}

.profile a.twitter, .profile a.twitter:hover{
    display: block;
    float: left;
    margin-left: 5px;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    background-color: #00BFFF;
}

.profile .dt{
    font-weight: bold;
}

.profile .screen_name:after{
    content: " / "
}

.profile .statuses_count.dd{
    text-decoration: underline;
}

.profile a{
    /* text-decoration: underline; */
}

.profile a:hover{
    color: #999;
}

.profile .screen_name{
    font-weight: bold;
}

.profile .friends_count .dt,
.profile .followers_count .dt,
.profile .favorites_count .dt{
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.profile .friends_count,
.profile .followers_count,
.profile .favorites_count{
    display: block;
}

.profile .friends_count .dd,
.profile .followers_count .dd,
.profile .favorites_count .dd{
    display: block;
    font-size: 15px;
    text-decoration: underline;
}

.profile .friends_count{
    width: 70px;
    float: left;
    clear: both;
}

.profile .followers_count{
    width: 70px;
    float: left;
}

.profile .favorites_count{
    width: 70px;
    float: left;
}

.profile .location{
    clear: both;
}

